$lightGrey:#ebebeb;
$darkGrey:#898a95;
$darkBlue:#011325;
$lightBlue:#06223f;
$blue:#2c2c46;
$black:#0e0e11;
$white:#f2f2f5;

//breakpoints
$bp-lg:75rem; //1200px/16
$bp-lg1:62.5rem ;//1000px
$bp-md:50rem;//800px 
$bp-lg:43.75rem;//700px
$bp-sm:37.5rem;//600px

$landscape:56.25rem;//900px
$por:37.5rem;//600px
$por-md:25rem;//400px
$por-sm:18.75rem;//300px


html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width:$landscape) {
      font-size: 50%;
   }
 }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.6;
    min-height: 100vh;
    color:$darkGrey;
    min-width:100%;
    background-color:$white;
 }

 .container {
    margin: 0;
    padding: 0;

    @media only screen and (max-width:$landscape) {
    
   }
 }
 


 h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
 }

 .grey {
   color:$darkGrey;
}

.mb1 {
   margin-bottom:1rem;
}

.mb2 {
   margin-bottom:2rem;
}

.mbxs {
   margin-bottom:.7rem;
}

.mt1 {
   margin-top:1rem;
}

.mt2 {
   margin-top:2rem;
}

.grayborder {
   border :2px solid $darkGrey;
   border-radius:4px;
}