.shoe {
    background-color:$lightGrey;
    max-width:100vw;

    &__box {
        width:100%;
        height:70vh;
        padding:3rem;

        @media only screen and (width:1024px) {
            height:50vh;
        }

        @media only screen and (max-width:$bp-lg) {
            height:40vh;
        }

        @media only screen and (max-width:$por-sm) {
            height:30vh;
        }

        &-item {
            height:100%;
            width:100%;
        }
    }

    &__desc {
        min-height:50vh;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        text-align:center;

        @media only screen and (width:1024px) {
            min-height:30vh;
        }

        @media only screen and (max-width:$bp-lg) {
           min-height:40vh
        }

        // @media only screen and (max-width:$por-sm) {
        //     height:30vh;
        // }

        &-box {
            width:40%;

            @media only screen and (max-width:$landscape) {
                width:70%;
            }

            @media only screen and (max-width:320px) {
                margin-top:2rem;
                margin-bottom:2rem;
            }

            h2 {
                color:$darkBlue;  
                font-size:4rem;
                line-height:4.2rem;
                font-weight:800;
                font-family:"Ubuntu";
            }
            
            p {
                line-height:2.4rem;
            }

            h6 {
                color:$darkBlue;  
                font-size:1.2rem;
                font-weight:800;
                font-family:"Ubuntu";
            }
        }
        
    }
}


.hire {
    min-height:50vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

    @media only screen and (width:1024px) {
        min-height:15vh;
    }

    @media only screen and (max-width:$bp-lg) {
        min-height:15vh;
    }

    &__box {
        width:40%; 
        text-align:center;

        @media only screen and (max-width:$landscape) {
            width:70%;
        }

        @media only screen and (max-width:$por-sm) {
            width:80%;
        }

        h2 {
            color:$darkBlue;  
            font-size:4rem;
            line-height:2rem;
            font-weight:800;
            font-family:"Ubuntu";

            @media only screen and (max-width:$por-sm) {
                line-height:2.5rem;
            }
        }

        p {
            line-height:2.4rem;
            font-size:1.2rem;
        }

        h6 {
            color:$darkBlue;  
            font-size:1.2rem;
            //line-height:2.2rem;
            font-weight:800;
            font-family:"Ubuntu";
        }


    }
}


.social {
    height:40vh;
    background-color: $lightGrey;
    color:$darkBlue; 

    @media only screen and (width:1024px) {
        height:10vh;
    }

    @media only screen and (max-width:$bp-lg) {
        height:10vh;
    }

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

    &__box {
        width:40%; 
       // text-align:center;
       display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;

        @media only screen and (max-width:$por-md) {
            width:70%;
        }

        h2 {
            color:$darkBlue;  
            font-size:1.2rem;
            //line-height:2.2rem;
            font-weight:800;
            font-family:"Ubuntu";
        }

        ul {
            list-style:none;
            display:flex;
            justify-content:space-around;
            width:30%;

            li {
                img {
                    width:1.5rem;
                    height:1.5rem;
                }
            }
        }
    }
}


@media only screen and (max-width:$landscape) {

 }