.home {
    height:100vh;
    background-color:$lightGrey;
    background-image: url('../../img/mainBg.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position:right top; 
    position:relative;

    @media only screen and (max-width:$bp-md) {
        height:70vh;
    }

    @media only screen and (max-width:$bp-sm) {
        height:40vh;
    }

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    &-h1 {
        font-size:20rem;
        line-height: 22rem;
        font-weight:800;
        color:$lightBlue;
        font-family:"Ubuntu";

        @media only screen and (max-width:$bp-md) {
            font-size: 15rem;
        }

        @media only screen and (max-width:500px) {
            font-size:10rem;
            line-height: 12rem;
        }
    }

    &-span {
        color:$darkGrey;
    }

    &-h5 {
        color:$lightBlue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:700;
        letter-spacing:.5rem;
        font-size:1.3rem;

        @media only screen and (max-width:$bp-md) {
            font-size:2rem;
        }
    }

    &-btn {
        outline:none;
        background-color: transparent;
        border-radius:1rem;
        border:1px solid $lightBlue;
        font-family:"Ubuntu";
        margin-top:2rem;
        padding:1.5rem 4rem;
        color:$lightBlue;
        font-weight:800;
        cursor:pointer;

        a {
            &:link,
            &:visited { 
                text-decoration:none;
                color:$lightBlue;
            }

            &:hover { 
                color:$lightGrey;
                background-color:$lightBlue;
            }
                
        }

        &:hover {
            color:$lightGrey;
            background-color:$lightBlue;
            border-color:$lightGrey;
        }
    }

    &-pinkshoe {
        position:absolute;
        bottom:0;
        left:5rem;
        width:22rem;
        height:22rem;

        @media only screen and (max-width:$por-md) {
            left:1rem;
            bottom:1rem;
            width:10rem;
            height:10rem;
        }
    }

    &-whiteshoe {
        position:absolute;
        top:2rem;
        right:15rem;
        width:22rem;
        height:22rem;

        @media only screen and (max-width:$por-md) {
            top:1.3rem;
            right:5rem;
            width:10rem;
            height:10rem;

        }
    }
}

.adv {
    background-color:#fff;
    margin-top:2rem;
    display:flex;

    @media only screen and (max-width:$por-md) {
        min-height:30vh;
    }

    &__image {
        flex-basis:50%;

        &-item {
            width:100%;
            height:100%;
            border-radius:2px;
        }
    }

    &__box {
        flex-basis:50%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        margin-left:7rem;
        margin-right:7rem;


        &-h3 {
            font-size:4rem;
            font-weight:800;
            line-height: 4rem;
            color:$lightBlue;
            font-family:"Ubuntu";

            @media only screen and (max-width:$por-md) {
                font-size:2.5rem;
                line-height:2.9rem;
            }
        }

        &-p {
            margin-top:1rem;
            font-size:1.5em;
        }
    }
}

.details {
    min-height:60vh;
    background-color:#fff;
    display:flex;
    justify-content: space-around;
    align-items:center;

    @media only screen and (max-width:$bp-lg1) {
        min-height:40vh;
    }

    
    &__box {
        padding:0 8rem;

        @media only screen and (max-width:$por-md) {
            padding:0 4rem;
        }
    }

    &-h3 {
        color:$lightBlue;  
        font-size:3rem;
        font-weight:800;
        width:70%;
        line-height:3.4rem;

        @media only screen and (max-width:$por-md) {
            font-size:2rem;
        }
    }

    &-p {
        font-size:1.2rem;
        line-height:1.8rem;  
        font-family:"ubuntu";
    }

}

.cta {
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: $darkGrey;

    @media only screen and (max-width:$bp-lg1) {
        min-height:30vh;
    }

    &-h3 {
        color:$white;  
        font-size:3.5rem;
        font-weight:800;
        font-family:"Ubuntu";

        @media only screen and (max-width:$por-md) {
            font-size:2.5rem;
        }
    }

    &-btn {
        outline:none;
        border:none;
        background-color:black;
        border-radius:3px;
        font-family:"Ubuntu";
        padding:1.5rem 4.2rem;
        color:$white;
        font-weight:800;
        cursor:pointer;

        @media only screen and (max-width:$por-md) {
            padding:1.3rem 3.6rem;
        }

       

        a {
            &:link,
            &:visited { 
                text-decoration:none;
                color:$white;
            }

            &:hover { 
                color:$black;
                background-color:$white;
            }
                
        }
        &:hover {
            color:$black;
            background-color:$white;
        }
    }

}