.home {
    height:100vh;
    background-color:$lightGrey;
    background-image: url('../../img/mainBg.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position:right top; 
    position:relative;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    &-h1 {
        font-size:20rem;
        line-height: 22rem;
        font-weight:800;
        color:$lightBlue;
        font-family:"Ubuntu";
    }

    &-span {
        color:$darkGrey;
    }

    &-h5 {
        color:$lightBlue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight:700;
        letter-spacing:.5rem;
        font-size:1.3rem;
    }

    &-btn {
        outline:none;
        background-color: transparent;
        border-radius:1rem;
        border:1px solid $lightBlue;
        font-family:"Ubuntu";
        margin-top:2rem;
        padding:1.5rem 4rem;
        color:$lightBlue;
        font-weight:800;
        cursor:pointer;

        &:hover {
            color:$lightGrey;
            background-color:$lightBlue;
            border-color:$lightGrey;
        }
    }

    &-pinkshoe {
        position:absolute;
        bottom:0;
        left:5rem;
        width:22rem;
        height:22rem;
    }

    &-whiteshoe {
        position:absolute;
        top:2rem;
        right:15rem;
        width:22rem;
        height:22rem;
    }
}

.adv {
    background-color:#fff;
    margin-top:2rem;
    display:flex;

    &__image {
        flex-basis:50%;

        &-item {
            width:100%;
            height:100%;
            border-radius:2px;
        }
    }

    &__box {
        flex-basis:50%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        margin-left:7rem;
        margin-right:7rem;


        &-h3 {
            font-size:4rem;
            font-weight:800;
            line-height: 4rem;
            color:$lightBlue;
            font-family:"Ubuntu";
        }

        &-p {
            margin-top:1rem;
            font-size:1.5em;
        }
    }
}

.details {
    min-height:60vh;
    background-color:#fff;
    display:flex;
    justify-content: space-around;
    align-items:center;
    
    &__box {
        padding:0 8rem;
    }

    &-h3 {
        color:$lightBlue;  
        font-size:3rem;
        font-weight:800;
        width:70%;
        line-height:3.4rem;
    }

    &-p {
        font-size:1.2rem;
        line-height:1.8rem;  
        font-family:"ubuntu";
    }

}

.cta {
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: $darkGrey;

    &-h3 {
        color:$white;  
        font-size:3.5rem;
        font-weight:800;
        font-family:"Ubuntu";
    }

    &-btn {
        outline:none;
        border:none;
        background-color:black;
        border-radius:3px;
        font-family:"Ubuntu";
        padding:1.5rem 4.2rem;
        color:$white;
        font-weight:800;
        cursor:pointer;

        &:hover {
            color:$black;
            background-color:$white;
        }
    }

}