.nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 4rem;
    height:8rem;

    &__logo {
        width:5rem;

        &-item {
            width:100%;
        }
    }

    ul {
        list-style:none;
        display:flex;
        font-size:1.2rem;
        font-weight:400;

        li {
            a {
                text-decoration: none;
                color:$darkGrey;

                &:hover {
                    color:$darkBlue;
                }
             }

            &:nth-child(1),&:nth-child(2) {
                margin-right:1rem;
            }
        }
    }

    
}


