.cart {
    min-height:90vh;
    display:flex;
     padding:3rem;
    //  background-color:$lightGrey;
    background-color:#fff;


    &__main {
        flex-basis:55%;
        flex-grow:0;
        flex-shrink:0;
        display:flex;
        flex-direction: column;

        &__item {
            height:80%;
            flex-grow:0;
            flex-shrink:0;

            &-img {
                width:100%;
                height:100%;
            }
        }

        &__picker {
            flex-basis:20%;
            flex-grow:0;
            flex-shrink:0;

            ul {
                list-style:none;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;

                  li {
                        width:12%;
                        height:60%;
                        flex-grow:0;
                        flex-shrink:0;
                        border-radius:3%; 

                        img {
                            width:100%;
                            height:100%;
                            transition:all .2s;
                            cursor:pointer;
                        }
                  }
            }
            
        }
    }


    &__details {
        flex-basis:45%;
        color:$darkBlue;  
        display:flex;
        flex-direction: column;

        h2 {
            font-size:4rem;
            line-height:4rem;
            font-weight:800;
            font-family:"Ubuntu";
        }

        h5 {
            font-size:1.5rem;
            line-height:2rem;
            font-weight:800;
            font-family:"Ubuntu";
        } 

        &__picker {
            ul  {
                list-style:none;
                display:flex;
                justify-content:flex-start;
                height:10rem;
                width:100%;
                padding:5% 0;
                flex-wrap:wrap;
                border-bottom:1px solid $lightGrey;
                cursor:pointer;
                
                
    
                  li {
                        width:10%;
                        height:100%;
                        flex-grow:0;
                        flex-shrink:0;
                        margin-right:1rem;
    
                        img {
                            width:100%;
                            height:100%;
                            transition:all .2s;
                            border-radius:3%; 
                            cursor:pointer;
                            transform:scale(1);
                            border: 1px solid $lightGrey;
                        }
                  }
            }
        }

        &__quantity {
            display:flex;
            justify-content:space-between;
            align-items:center;
            width:20%;
            font-size:2rem;
            color:$darkBlue;

            button {
                background-color:$darkBlue;
                color:$white;
                outline:none;
                border:none;
                width:2rem;
                height:2rem;
                border-radius:50%;
                cursor:pointer;
            }

        }
        &__selectsize {
            font-size:1.5rem;
            line-height:2rem;
            font-weight:400;
            font-family:"Ubuntu";
        }

        &__size {
            display:flex;
            flex-wrap:wrap;
            border-bottom:1px solid $darkGrey;
            padding-bottom:1.5rem;
            font-family:"Ubuntu";


            &-btn {
                font-family:"Ubuntu";
                outline:none;
                cursor:pointer;
                text-align:center;
                padding:1rem;
                color:black;
                border-radius:5px;
                border:1px solid $lightGrey;
                background-color:#fff;
                margin-right:1rem;
                margin-bottom:.4rem;

                &:first-child {
                    border:3px solid #898a95;
                }
            }
        }

        &__form {
            display:flex;
            flex-direction:column;
            border-bottom:1px solid $lightGrey;

            &-input {
                padding:1.5rem 3rem;
                border-radius:6px;
                outline:none;
                border:1px solid $lightGrey;

                &::placeholder {
                    color:$lightGrey;
                    padding:1rem;
                }

                &:focus {
                    padding:1rem;
                }
            }

            h6 {
                text-align:center;
                font-size:1rem;
            }

            button {
                font-family:"Ubuntu";
                font-weight:800;
                cursor:pointer;
                width:100%;
                outline:none;
                border:none;
                text-align:center;
                color:#fff;
                border-radius:6px;
                background-color:black;
                transition:all .2s;
                padding:1.5rem 3rem;

                &:hover{
                    color:black;
                     background-color:#fff;
                }

                
            }
        }

        &__social {
            height:2rem;
            margin-top:auto;
           
            
            ul {
                list-style: none;
                display:flex;
                height:100%;
                width:100%;
               

                li {
                    width:2rem;
                    margin-right:1.5rem;
                    img {
                        width: 100%;
                        height:100%;
                    }
                }
            }
        }
       
    }
}

.shop-features {
    height:90vh;
    display:flex;
    margin-bottom:1rem;
    padding:2rem;
    

    &__imgbox {
        flex-basis:50%;
        height:90vh;

        img {
            height:100%;
            width:100%;
            border-radius:1%;
        }
    }

    &__textbox {
        flex-basis:50%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        font-family:"Ubuntu";
        font-weight:800;
        font-size:2rem;
        line-height:3rem;

        h1 {
             width:70%;
             color:$darkGrey;

             span {
                 color:$darkBlue;
             }
        }
       
    }
}

.button {
    font-family:"Ubuntu";
    font-weight:800;
    cursor:pointer;
    width:100%;
    outline:none;
    border:none;
    text-align:center;
    color:#fff;
    border-radius:6px;
    background-color:black;
    transition:all .2s;
    padding:1.5rem 3rem;

    &:hover{
        color:black;
         background-color:#fff;
    }

    
}